<br/><br/><br/>
<footer class="footer">
  <small>
    <a href="#">Apps</a>
    by Dust Rise Technologies
  </small>
  <nav>
    <ul>
      <li><b>Hotel:&nbsp</b><%= link_to 'Customers', customers_path %></li>
      <li><%= link_to 'Hotels', hotels_path %></li>
      <li><%= link_to 'Rooms', rooms_path %></li>
      <li><%= link_to 'Bookings', bookings_path %> </li>
      <li><b>Restaurant:&nbsp</b><%= link_to 'Items', items_path %></li>
      <li><%= link_to 'Orders', orders_path %></li>
    </ul>
  </nav>
</footer>
